body,html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family:'McLaren', 'Times New Roman', Times, serif;
  font-size: 80px;
}

h1 {
  font-family: 'McLaren', "Comic Sans MS", cursive, sans-serif;
  font-size: 3vw;
  display:flex;
  justify-content: center;
  padding-top: 1%;
  color: rgb(255, 115, 0);
}

p {
  display: flex;
  justify-content: center;
  font-family: 'McLaren', "Comic Sans MS", cursive, sans-serif;
  font-size: 2vw;
  padding-left:10px;
  padding-right:20px;
  color:rgb(255, 115, 0);
  text-align: center;
}
.im-not-a-wrapper {
  height: 100vh;
  width: 100vw;
}

.home {
  width: 100%;
  height: 80%;
}

a {
  text-decoration: none;
}

#scroll-image1 {
  max-width: 100%;
  height: 100px;
  display: block;
}

#scroll-image2 {
  max-width: 100%;
  height: 100px;
  display: block;
}

#scroll-image3 {
  max-width: 100%;
  height: 100px;
  display: block;
}

#scroll-image4 {
  max-width: 100%;
  height: 100px;
  display: block;
}

.next-link {
  /* general button styling */
  margin: 0 auto;
  margin-bottom: 40px;
  display: block;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 30%;
  font-family: 'McLaren',"Comic Sans MS", cursive, sans-serif;
  width:40%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

  /*Button start*/
  background-color: rgb(255, 115, 0);
  color: white;
  border: 5px solid  rgb(255, 115, 0);
  border-radius: 10px;
}

.next-link:hover {
  background-color: rgb(255,115,0);
  width:52%;
  font-size:40%;
}

.content-0 {
  background-color: lightgrey;
  margin-bottom: 100px;
}

#content-1 {
  background-color: lightgrey;
  margin-bottom: 100px;
}
.start-but{
  /* general button styling */
  margin: 0 auto;
  margin-top:130px;
  display: block;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 30%;
  font-family: 'McLaren',"Comic Sans MS", cursive, sans-serif;
  width:50%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

  /*Button start*/
  background-color: white;
  color: orange;
  border: 5px solid  orange;
  border-radius: 10px;
}

.start-but:hover {
  background-color:  orange;
  color: white;
}

.parallax {
  /* The image used */
  background-image: url('images/background.jpg');
}

#uploadform {
  background-color: lightgrey;
  color: orange;
  padding: 50px;
  margin: 50px 50px 50px 50px;
}

.uploadformwords {
  display: block;
  font-family: 'McLaren', "Comic Sans MS", cursive, sans-serif;
  font-size: 2vw;
  padding-left:10px;
  padding-right:20px;
  color:rgb(255, 115, 0);
  text-align: center;
}

#fileToUploadSubmission {
  /* general button styling */
  margin: 0 auto;
  margin-top:130px;
  display: block;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 30%;
  font-family: 'McLaren',"Comic Sans MS", cursive, sans-serif;
  width:50%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

  /*Button start*/
  background-color: white;
  color: orange;
  border: 5px solid  orange;
  border-radius: 10px;
}
